* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

#current-page {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li {
    position: relative; /* Esto asegura que el menú se posicione relativo al botón */
    margin-left: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    transition: background 0.3s ease;
    width: 120px;
    text-align: center;
}

.navbar ul li a:hover {
    background-color: black;
    color: white;
}

/* Menú desplegable con fondo blanco */
.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px); /* Asegura que el menú se despliegue justo debajo del botón */
    left: 0; /* Alineado al borde izquierdo del botón */
    background-color: white !important; /* Fondo blanco sólido asegurado */
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    list-style: none;
    padding: 10px 0; /* Espacio vertical entre los botones */
    width: 140px;
    opacity: 0; /* Inicia como invisible */
    transform: translateY(-10px); /* Inicia más arriba para el efecto de desplazamiento */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.dropdown-menu li {
    margin-bottom: 10px; /* Espacio entre los botones */
    background-color: white;
}

.dropdown-menu li:last-child {
    margin-bottom: 0; /* Elimina el margen en el último botón */
    background-color: white;
}

.dropdown-menu li a {
    padding: 10px 8px; /* Aumenta el padding interno */
    font-size: 14px;
    display: block;
    transition: background 0.3s ease;
    text-align: center;
    background-color: white; /* Fondo blanco para los botones */
    border-radius: 10px;
    color: black;
}

.dropdown-menu li a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Aparece el menú */
    transform: translateY(0); /* Desciende suavemente a su posición final */
    background-color: white;
}

/* Nueva clase para la línea negra que abarca todo el ancho */
.full-width-border {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}
