<!-- Header -->
<header class="flex justify-between items-center py-3 px-4">
  <!-- Logo -->
  <div class="flex items-center">
    <img
      src="/assets/img/Nutritrack_Paleta_Horizontal_Negra.png"
      class="h-10 w-auto"
      alt="Nutritrack Logo"
    />
  </div>

  <!-- User Image and Notification Bell -->
  <div class="flex items-center space-x-4">
    <!-- Notification Bell -->
    <div class="relative mr-2">
      <i class="bi bi-bell text-3xl" pBadge severity="danger"></i>
    </div>

    <div class="relative">
      <img
        class="rounded-full object-cover h-10 w-10 border-2 border-gray-300"
        src="https://img.freepik.com/foto-gratis/apuesto-joven-brazos-cruzados-sobre-fondo-blanco_23-2148222620.jpg?t=st=1729382093~exp=1729385693~hmac=c7985703a41c4e585b3a965a83e1036cb4e5045d6f550cd706a7dac90f88165b&w=740"
        alt="User photo"
      />
    </div>
  </div>
</header>
